<% form_for @block do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </p>
  <p>
    <%= f.label :build_date %><br />
    <%= f.date_select :build_date %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
